@model IEnumerable<WebApplication19.Models.Order>
@{
    ViewData["Title"] = "Все заказы";
}
<h3>Заказы</h3>
<table class="table" style="width: 50%;">
    <thead>
        <tr>
            <th>Фамилия</th>
            <th>Адрес</th>
            <th>Номер телефона</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model)
        {
            <tr>
                <td scope="row">@order.User</td>
                <td>@order.Address</td>
                <td>@order.ContactPhone</td>
            </tr>
        }
    </tbody>
</table>
